.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 10px 15%;
}

.r-side {
  flex: 1;
  /* animation: fadeIn 2s ease-in-out; */
}

.l-side {
  flex: 1;
  /* animation: fadeInLeft 0.35s ease-in-out; */
}

.l-side img {
  height: auto;
  width: 25rem;
}

.line {
  border-bottom: 3px solid var(--color2);
  width: 4rem;
  margin-bottom: 1rem;
}

.r-side h2 {
  color: var(--color1);
}

.r-side p {
  /* background-color: var(--gray); */
  padding: 10px;
  border-radius: 5px;
  /* color: var(--color5); */
  font-size: 16px;
  margin-top: 5px;
  line-height: 22px;
}

.r-side > h4 {
  margin-top: 2rem;
  color: var(--color1);
}

.r-side ul {
  list-style-type: none;
  margin-top: 10px;
  /* background-color: var(--color5); */
  border-radius: 5px;
  padding: 5px;
  line-height: 20px;
}

.r-side ul li {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 16px;
  margin: 5px 0;
}

.r-side ul li .check {
  color: var(--color1);
}

.r-side ul li div {
  padding-left: 5px;
  /* color: var(--color5); */
}

.skills-icon {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
  color: var(--color1);
  font-size: 3rem;
}

.skills-icon > :hover {
  color: var(--color1);
}

.skills-text {
  margin-top: 10px;
  align-items: center;
  align-content: center;
  text-align: center;
}

.skills-text > span {
  align-items: center;
  font-weight: bold;
  font-size: 12px;
  display: inline-block;
  height: 100%;
  white-space: nowrap;
  width: auto;
  border-radius: 10px;
  padding: 2px 12px;
  line-height: 1rem;
  color: #fff;
  background-color: var(--color1);
  margin: 4px;
}

@media only screen and (max-width: 1200px) {
  .l-side img {
    height: auto;
    width: 20rem;
  }
}

@media only screen and (max-width: 700px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 10px 3%;
    margin-top: 10rem;
    margin-bottom: 10rem;
  }

  .l-side img {
    height: auto;
    width: 20rem;
  }

  .r-side {
    margin-top: 2rem;
    flex: none;
  }

  .l-side {
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
}

@media only screen and (max-width: 450px) {
  .container {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .skills-icon {
    font-size: 2.5rem;
  }
}

/* @keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-150px);
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */

/* dark mode */
