.t {
  width: 50px;
  height: 25px;
  border-radius: 20px;
  border: 1px solid #999;
  background-color: #fff;
  position: relative;
  /* top: 10px; */
  /* left: 20px; */
  /* z-index: 999; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.t-icon {
  width: 15px;
  height: 15px;
}

.t-button {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background-color: var(--color3);
  position: absolute;
  cursor: pointer;
  border: solid #fff 2px;
}
